* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%; /*para utilizar rem como pixel*/
    scroll-behavior: smooth; /*Para o scroll ao clicar as sessões seja mais suave*/
}

body {
    font-family: "Open Sans", sans-serif;
    font-size: 2rem;
    color: var(--primary-color);
    
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat", sans-serif;
}

h1 {
    font-size: 6rem;
    text-transform: uppercase;
}

h2 {
    font-size: 8rem;
    margin-bottom: 5rem;
    text-transform: uppercase;
    line-height: 1.2;
}

h3 {
    font-size: 5rem;
}

h4 {
    font-size: 4.5rem;
}

h5 {
    font-size: 4rem;
}

h6 {
    font-size: 3.5rem;
}

a {
    text-decoration: none;
}

p {
    margin-bottom: 4rem;
}

.responsive-table {
    overflow: hidden;
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse; /*Utilizado para retirar o afastamento das bordas na tabela*/
}

table caption {
    font-style: italic;
    font-size: 1.6rem;
    text-align: left;
    margin-bottom: 1rem;
}

table td, table th {
    white-space: nowrap; /*Utilizado para não quebrar o texto na tabela*/
    text-align: left;
    padding: 1rem;
    border: 0.1rem solid var(--light-gray-color);
}

table th {
    color: var(--primary-color);
    background-color: var(--light-gray-color);
}

tfoot td {
    border: none;
    text-align: center;
    color: var(--primary-color);
    background-color: var(--light-gray-color);
}